.slideshow {
  max-width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

div.card {
  padding: 8px;
  background: rgba(255, 255, 255, 0);
  color: black;
  align-items: center;

  @media (min-width: 80em) {
    max-width: 30%;
  }

  @media (min-width: 46em) and (max-width: 80em) {
    max-width: 45%;
  }

  @media (max-width: 46em) {
    max-width: 90%;
  }
}

div.card h1 {
  font-weight: bold;
}

.vertical {
  @media (min-width: 80em) {
    max-width: 30%;
  }

  @media (min-width: 46em) and (max-width: 80em) {
    max-width: 35%;
  }

  @media (max-width: 46em) {
    max-width: 40%;
  }
}
