@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);

div.about {
  img.profile {
    transition: transform 0.5s;
    margin-top: 10px;
    border-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
  }

  img.profile:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }

  .spacer {
    padding-top: 15px;
  }

  img.email {
    height: 20px;
  }

  p,
  li {
    color: rgb(73, 73, 73);
  }

  h2 {
    color: rgb(150, 0, 0);
  }

  padding-left: 3%;
}
