<div class="row m-4">
  <div class="col-9">
    <h1><b>Acerca de</b></h1>
    <h3><b>Nombre</b></h3>
    <p class="p-1">Ángel Manuel Pereira Rodríguez</p>
    <h3><b>Puesto</b></h3>
    <p class="p-1">Desarrollador de software con experiencia en Business Intelligence.</p>
    <h3><b>Objetivos</b></h3>
    <p class="p-1">Estoy interesado en el desarrollo para Android e IOS, especialmente en el backend.</p>
    <h3><b>Planes a corto plazo</b></h3>
    <p class="p-1">Realización de dos proyectos personales.</p>
    <div class="row m-3">
      <div class="col">
        Página web personal en Angular.
      </div>
      <div class="col">
        Proyecto para un evento de un amigo.
        <div class="row p-3">
          <div class="col">
            Backend - NestJS
          </div>
          <div class="col">
            Frontend - Flutter
          </div>
        </div>
      </div>
    </div>
    <p class="m-1">Realización de un curso de Udemy sobre Ionic.</p>
    <p class="m-1">Realización de un curso de Udemy sobre .NET.</p>
  </div>
  <div class="col-3">
    <img src="assets/Imagen-personal.jpg" alt="imagen personal" class="img-fluid">
  </div>
</div>
