<div class="container">
  <div [@slideIn] class="row m-4 content">
    <div class="col-8 col-sm-8 col-md-9">
      <h1><b>Acerca de mí</b></h1>
      <h3><b>Nombre</b></h3>
      <p class="p-1">Ángel Manuel Pereira Rodríguez</p>
      <h3><b>Puesto</b></h3>
      <p class="p-1">Desarrollador Júnior de Software y Qlik.</p>
      <h3><b>Objetivos</b></h3>
      <p class="p-1">Estoy interesado en el desarrollo para Android e IOS, especialmente en el backend.</p>
      <h3><b>Planes a corto plazo</b></h3>
      <p class="p-1">Realización de un proyecto.</p>
      <div class="row m-3">
        <div class="col">
          Proyecto para un evento de un amigo streamer de Twitch.
          <div class="row p-3">
            <div class="col-3">
              Backend - NestJS
            </div>
            <div class="col">
              Frontend - Angular
            </div>
          </div>
        </div>
      </div>
      <p class="m-1">Realización de un curso de Udemy sobre Ionic.</p>
      <p class="m-1">Realización de un curso de Udemy sobre .NET.</p>
      <p class="m-1">Realización de un proyecto.</p>
      <div class="row m-3">
        <div class="col">
          Proyecto como Calidad de Vida de un juego.
          <div class="row p-3">
            <div class="col-3">
              Backend - NestJS
            </div>
            <div class="col">
              Frontend - Flutter
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 col-sm-4 col-md-3">
      <img src="../assets/Imagen-personal.jpg" alt="imagen personal" class="img-fluid">
      <div class="text-center m-3">
        <a href="../assets/CV-ampr.pdf" download="CV-angel-manuel-pereira-rodriguez.pdf" class="btn btn-primary">Descarga mi CV</a>
        <a href="mailto:ampr2003@gmail.com" class="btn btn-primary mt-3">Contáctame</a>
      </div>
    </div>
  </div>

</div>
