img {
  transition: transform .5s;
  margin-top: 10px;
  border-radius: 50px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

img:hover {
  transform: scale(1.05);
}

.spacer {
  padding-top: 15px;
}
