img {
  width: 30px;
}

.bottom-navbar {
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
  padding: 8px;
}

.top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
}

.content {
  padding-top: 50px;
  padding-bottom: 65px;
}

h2 {
  margin-top: 15px;
  margin-left: 40px;
  text-align: center;
}

.hover {
  transition: text-decoration 0.3s;
  transition: font-weight 0.3s;
}

.hover:hover {
  font-weight: bold;
  text-decoration: underline;
}

a {
  font-size: 13px;
}

ul {
  display: inline;
}

button {
  background-color: transparent;
  border: transparent;
}

.drawer-container {
  height: 100%;
}

.drawer {
  width: 200px;
}

.content {
  margin-left: 200px; /* Ajusta según el ancho del drawer */
  transition: margin-left 0.3s ease;
}

mat-icon {
  color: white;
}
