<div [@slideIn] class="">
  <div class="header">
    <h1><b>{{'knowledge.header.title' | transloco}}</b></h1>
    <h2>{{'knowledge.header.description' | transloco}}</h2>
  </div>
  <div class="item">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>{{'knowledge.item.courses_and_certificates.title' | transloco}}</h1>
        <div class="row d-flex justify-content-center">
          <div class="col">
            <h2>{{'knowledge.item.courses_and_certificates.courses.title' | transloco}}</h2>
            <div class="course">
              <h3>{{'knowledge.item.courses_and_certificates.courses.first_course.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.courses.first_course.school' | transloco}}</h4>
              <p>{{'knowledge.item.courses_and_certificates.courses.first_course.year' | transloco}}</p>
            </div>
            <div class="course">
              <h3>{{'knowledge.item.courses_and_certificates.courses.second_course.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.courses.second_course.school' | transloco}}</h4>
              <p>{{'knowledge.item.courses_and_certificates.courses.second_course.year' | transloco}}</p>
            </div>
            <div class="course">
              <h3>{{'knowledge.item.courses_and_certificates.courses.third_course.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.courses.third_course.school' | transloco}}</h4>
              <p>{{'knowledge.item.courses_and_certificates.courses.third_course.year' | transloco}}</p>
            </div>
          </div>
          <div class="col">
            <h2>{{'knowledge.item.courses_and_certificates.certificates.title' | transloco}}</h2>
            <div class="certificate">
              <h3>{{'knowledge.item.courses_and_certificates.certificates.first_certificate.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.certificates.first_certificate.institution' | transloco}}
              </h4>
              <p>{{'knowledge.item.courses_and_certificates.certificates.first_certificate.year' | transloco}}</p>
            </div>
            <div class="certificate">
              <h3>{{'knowledge.item.courses_and_certificates.certificates.second_certificate.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.certificates.second_certificate.institution' | transloco}}
              </h4>
              <p>{{'knowledge.item.courses_and_certificates.certificates.second_certificate.year' | transloco}}</p>
            </div>
            <div class="certificate">
              <h3>{{'knowledge.item.courses_and_certificates.certificates.third_certificate.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.certificates.third_certificate.institution' | transloco}}
              </h4>
              <p>{{'knowledge.item.courses_and_certificates.certificates.third_certificate.year' | transloco}}</p>
            </div>
            <div class="certificate">
              <h3>{{'knowledge.item.courses_and_certificates.certificates.forth_certificate.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.certificates.forth_certificate.institution' | transloco}}
              </h4>
              <p>{{'knowledge.item.courses_and_certificates.certificates.forth_certificate.year' | transloco}}</p>
            </div>
            <div class="certificate">
              <h3>{{'knowledge.item.courses_and_certificates.certificates.fifth_certificate.title' | transloco}}</h3>
              <h4>{{'knowledge.item.courses_and_certificates.certificates.fifth_certificate.institution' | transloco}}
              </h4>
              <p>{{'knowledge.item.courses_and_certificates.certificates.fifth_certificate.year' | transloco}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-6 text-center">
        <h1>{{'knowledge.item.technologies' | transloco}}</h1>
        <div class="row d-flex justify-content-center align-items-end">
          <div *ngFor="let item of menuItems" class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <img [src]="item.route" [alt]="item.name">
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
