<mat-sidenav-container>

  <div class="top-navbar">
    <div class="container-fluid">
      <div class="row row-cols-2">
        <div class="col text-start">
          <h2>
            {{'navbar.name' | transloco}}</h2>
        </div>
        <div class="col text-center">
          <h2>
            {{'navbar.title' | transloco}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-9 d-flex justify-content-center align-items-center">
          <a class="list-group-item m-3 hover" [routerLink]="[menuItems[0].route]"
            routerLinkActive="active">
            {{'navbar.buttons.about' | transloco}}
          </a>
          <a class="list-group-item m-3 hover" [routerLink]="[menuItems[1].route]"
            routerLinkActive="active">
            {{'navbar.buttons.experience' | transloco}}
          </a>
          <a class="list-group-item m-3 hover" [routerLink]="[menuItems[2].route]"
            routerLinkActive="active">
            {{'navbar.buttons.knowledge' | transloco}}
          </a>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
          <li class="list-group-item m-3" *ngFor="let language of languagesList; index as i"
            (click)="changeLanguage(language.code)">
            <img [src]="language.imgUrl" [alt]="language.name" />
          </li>
        </div>
      </div>
    </div>
  </div>

  <div class="content background">
    <router-outlet></router-outlet>
  </div>

  <div class="bottom-navbar">
    <div class="container text-center">
      <div class="row">
        <div class="col text-start">
          <a href="https://www.linkedin.com/in/%C3%A1ngel-manuel-pereira-rodr%C3%ADguez-009730253/">
            <img src="../assets/tecnologies/linkedin-icon-2.svg" alt="Linkedin">
          </a>
        </div>
        <div class="col text-end">
          <a href="https://github.com/SpiritVideogames">
            <img src="../assets/tecnologies/github-icon-1.svg" alt="GitHub">
          </a>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
