button {
  margin: 13px;
}

img {
  width: 30px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
  padding: 12px;
}

.top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
}

@media (max-width: 520px) {
  /* Estilos para pantallas pequeñas (móviles) */
  .content {
    padding-top: 191px;
    padding-bottom: 64px;
  }
}

@media (min-width: 521px) and (max-width: 862px) {
  /* Estilos para tabletas */
  .content {
    padding-top: 159px;
    padding-bottom: 64px;
  }
}

@media (min-width: 863px) {
  /* Estilos para pantallas grandes */
  .content {
    padding-top: 127px;
    padding-bottom: 64px;
  }
}

/* .content {
  padding-top: 64px;
  padding-bottom: 64px;
} */

h2 {
  margin-top: 15px;
  margin-left: 40px;
  text-align: center;
}
