button {
  margin: 13px;
}

img {
  width: 30px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
  padding: 12px;
}

.top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #273376;
  color: white;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  margin-top: 15px;
  margin-left: 40px;
  text-align: center;
}

.hover {
  transition: text-decoration .3s;
  transition: font-weight .3s;
}

.hover:hover {
  font-weight: bold;
  text-decoration: underline;
}

a {
  font-size: 13px;
}
