<div class="container">
  <div class="header">
    <h1>Mi experiencia</h1>
    <h2>Todos mis trabajos y proyectos personales realizados.</h2>
  </div>
  <div class="item">
    <div class="col-sm-12 col-md-12 col-lg-5">
      <div id="timeline">
        <div>
          <section class="year">
            <h3>2023</h3>
            <section>
              <h4>Marzo</h4>
              <ul>
                <li>Comienzo las prácticas en Controlnet Web S.L.</li>
                <img src="../assets/Controlnet.png" alt="controlnet">
                <li>Recibo formación en Qlik Sense durante dos semanas.</li>
                <img src="../assets/QlikSense.png" alt="qliksense-2">
              </ul>
            </section>
            <section>
              <h4>Abril - Junio</h4>
              <ul>
                <li>Ayuda en diversos proyectos de MERCANZA realizados en Qlik Sense para la Comunidad de Madrid.</li>
                <img src="../assets/Mercanza.png" alt="MERCANZA">
              </ul>
            </section>
            <section>
              <h4>Junio</h4>
              <ul>
                <li>Terminan las prácticas en Controlnet Web S.L.</li>
              </ul>
            </section>
            <section>
              <h4>Noviembre</h4>
              <ul>
                <li>Realización de mi página web personal.
                  <hr><a href="https://portfolio-angelpereira.netlify.app">portfolio-angelpereira.netlify.app</a>
                </li>
              </ul>
            </section>
          </section>

        </div>
      </div>
    </div>
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-12 col-lg-5 text-center">
      <mat-card>
        <mat-card-content>
          <div class="card-content">
            Portfolio personal
          </div>
        </mat-card-content>
        <img src="../assets/Portfolio.png" alt="Prueba" class="img-thumbnail card rounded mx-auto d-block">
        <mat-card-footer>
          <div class="card-footer">
            <a href="https://github.com/SpiritVideogames/cv-ampr" class="m-5">GitHub</a>
            <a href="https://portfolio-angelpereira.netlify.app" class="m-5">Enlace</a>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
