<div [@slideIn] class="">
  <div class="header">
    <h1><b>{{'experience.header.title' | transloco}}</b></h1>
    <h2>{{'experience.header.description' | transloco}}</h2>
  </div>
  <div class="item">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-lg-6 col-xl-6">
        <div id="timeline">
          <div>
            <section class="year">
              <h3>{{'experience.item.timeline.section_year.year' | transloco}}</h3>
              <section>
                <h4>{{'experience.item.timeline.section_year.first_section_month.month' | transloco}}</h4>
                <ul>
                  <li>{{'experience.item.timeline.section_year.first_section_month.first_phrase' | transloco}}</li>
                  <img src="../assets/Controlnet.webp" alt="controlnet">
                  <li>{{'experience.item.timeline.section_year.first_section_month.second_phrase' | transloco}}</li>
                  <img src="../assets/tecnologies/qlik-1.svg" alt="qliksense-2">
                </ul>
              </section>
              <section>
                <h4>{{'experience.item.timeline.section_year.second_section_month.month' | transloco}}</h4>
                <ul>
                  <li>{{'experience.item.timeline.section_year.second_section_month.first_phrase' | transloco}}</li>
                  <img src="../assets/Mercanza.webp" alt="MERCANZA">
                </ul>
              </section>
              <section>
                <h4>{{'experience.item.timeline.section_year.third_section_month.month' | transloco}}</h4>
                <ul>
                  <li>{{'experience.item.timeline.section_year.third_section_month.first_phrase' | transloco}}</li>
                </ul>
              </section>
              <section>
                <h4>{{'experience.item.timeline.section_year.forth_section_month.month' | transloco}}</h4>
                <ul>
                  <li>{{'experience.item.timeline.section_year.forth_section_month.first_phrase' | transloco}}
                    <hr><a
                      href="https://portfolio-angelpereira.netlify.app">{{'experience.item.timeline.section_year.forth_section_month.link'
                      | transloco}}</a>
                  </li>
                </ul>
              </section>
            </section>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 col-xl-6 text-center w-35 d-md-block card">
        <div class="m-5">
          <h1>
            {{'experience.item.projects.internet' | transloco}}
          </h1>
        </div>
        <mat-card class="m-5">
          <mat-card-content>
            <div class="card-content">
              {{'experience.item.projects.first_project.description' | transloco}}
            </div>
          </mat-card-content>
          <img src="../assets/Portfolio.webp" alt="Portfolio" class="img-thumbnail card rounded mx-auto d-block">
          <div class="row">
            <div class="col mt-4">
              <h2>Frontend - Angular</h2>
            </div>
          </div>
          <mat-card-footer>
            <div class="card-footer">
              <a href="https://github.com/AngelPereiraR/cv-ampr"
                class="m-5">{{'experience.item.projects.first_project.github' | transloco}}</a>
              <a href="https://portfolio-angelpereira.netlify.app"
                class="m-5">{{'experience.item.projects.first_project.link' | transloco}}</a>
            </div>
          </mat-card-footer>
        </mat-card>
        <div class="m-5">
          <h1>
            {{'experience.item.projects.colaborative' | transloco}}
          </h1>
        </div>
        <mat-card class="m-5">
          <mat-card-content>
            <div class="card-content">
              SalesIn
            </div>
          </mat-card-content>
          <img src="../assets/salesin.webp" alt="SalesIn" class="img-thumbnail card rounded mx-auto d-block">
          <div class="row">
            <div class="col mt-4">
              <h2>Frontend - Laravel</h2>
            </div>
            <div class="col mt-4">
              <h2>Backend - Laravel</h2>
            </div>
          </div>
        </mat-card>
        <mat-card class="m-5">
          <mat-card-content>
            <div class="card-content">
              GestionCursos
            </div>
          </mat-card-content>
          <img src="../assets/gestioncursos.webp" alt="GestionCursos" class="img-thumbnail card rounded mx-auto d-block">
          <div class="row">
            <div class="col mt-4">
              <h2>Frontend - Java</h2>
            </div>
            <div class="col mt-4">
              <h2>Backend - Java</h2>
            </div>
          </div>
          <mat-card-footer>
            <div class="card-footer">
              <a href="https://github.com/AngelPereiraR/gestioncursos"
                class="m-5">GitHub</a>
            </div>
          </mat-card-footer>
        </mat-card>
        <mat-card class="m-5">
          <mat-card-content>
            <div class="card-content">
              Almagest
            </div>
          </mat-card-content>
          <img src="../assets/almagest.webp" alt="Almagest" class="img-thumbnail card rounded mx-auto d-block vertical">
          <div class="row">
            <div class="col mt-4">
              <h2>Frontend - Flutter</h2>
            </div>
            <div class="col mt-4">
              <h2>{{'experience.item.projects.third_colaborative_project.backend' | transloco}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col mt-2">
              <h3>{{'experience.item.projects.third_colaborative_project.note' | transloco}}</h3>
            </div>
          </div>
          <mat-card-footer>
            <div class="card-footer">
              <a href="https://github.com/AngelPereiraR/almagest"
                class="m-5">GitHub</a>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
